[submodule "_data/legislators"]
	path = _submodules/legislators
	url = https://github.com/unitedstates/congress-legislators.git
[submodule "_data/zipcodes"]
	path = _submodules/zipcodes
	url = https://github.com/OpenSourceActivismTech/us-zipcodes-congress.git
[submodule "_submodules/openstates/people"]
	path = _submodules/openstates/people
	url = https://github.com/openstates/people.git
