[submodule "_data/legislators"]
	path = _submodules/legislators
	url = git@github.com:unitedstates/congress-legislators.git
[submodule "_data/zipcodes"]
	path = _submodules/zipcodes
	url = git@github.com:OpenSourceActivismTech/us-zipcodes-congress.git
