<!-- BOTTOM -*- mode:mhtml -*-  -->
<div class="ground">
  <!-- Trees -->
  <div class="tree" style="position:absolute;bottom:180px;left:6%;">
    <div class="trunk">
      <div class="leftbranch"></div>
      <div class="rightbranch"></div>
    </div>
  </div>
  <div class="tree" style="position:absolute;bottom:160px;left:calc(20% + 16px);">
    <div class="trunk">
      <div class="leftbranch"></div>
      <div class="rightbranch"></div>
    </div>
  </div>
  <div class="tree w3-hide-small w3-hide-medium"
       style="position:absolute;bottom:140px;left:calc(50% + 200px);">
    <div class="trunk">
      <div class="leftbranch"></div>
      <div class="rightbranch"></div>
    </div>
  </div>
  <div class="tree w3-hide-small"
       style="position:absolute;bottom:200px;left:50%;">
    <div class="trunk">
      <div class="leftbranch"></div>
      <div class="rightbranch"></div>
    </div>
  </div>
  <div class="tree" style="position:absolute;bottom:185px;right:11.5%;">
    <div class="trunk">
      <div class="leftbranch"></div>
      <div class="rightbranch"></div>
    </div>
  </div>
  <!-- Fire -->
  <div class="fire" style="position:absolute;bottom:0px;left:20%;">
    <div class="flames">
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
    </div>
  </div>
  <div class="fire w3-hide-small"
       style="position:absolute;bottom:10px;left:30%;">
    <div class="flames">
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
    </div>
  </div>
  <div class="fire" style="position:absolute;bottom:50px;left:50%;z-index:-2;">
    <div class="flames">
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
    </div>
  </div>
  <div class="fire" style="position:absolute;bottom:10px;left:70%;">
    <div class="flames">
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
    </div>
  </div>
  <div class="fire w3-hide-small"
       style="position:absolute;bottom:40px;left:77.5%;z-index:-2;">
    <div class="flames">
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
    </div>
  </div>
  <div class="fire w3-hide-small w3-hide-medium"
       style="position:absolute;bottom:25px;left:87.5%;">
    <div class="flames">
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
    </div>
  </div>
</div>
<center style=""><span style="color:white;">Let them hear you flush!</span></center>
