<!-- BOTTOM -*- mode:mhtml -*-  -->
<div class="ground">
  <div class="tree tree1">
    <div class="trunk">
      <div class="leftbranch"></div>
      <div class="rightbranch"></div>
    </div>
  </div>
  <div class="tree tree2">
    <div class="trunk">
      <div class="leftbranch"></div>
      <div class="rightbranch"></div>
    </div>
  </div>
  <div class="tree tree3">
    <div class="trunk">
      <div class="leftbranch"></div>
      <div class="rightbranch"></div>
    </div>
  </div>
</div>
<div class="fire" style="position:relative;bottom:100px;left:20%;">
   <div class="flames">
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
   </div>
</div>
<center style=""><span style="color:white;">Let them hear you flush!</span></center>
<div class="fire" style="position:relative;bottom:180px;left:50%;">
   <div class="flames">
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
   </div>
</div>
<div class="fire" style="position:relative;bottom:300px;left:70%;z-index:-2;">
   <div class="flames">
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
      <div class="flame"></div>
   </div>
</div>
