//                                               -*- mode:javascript -*-

// TODO: Still missing some, e.g. 15232.
const stateDistrictRepresentative = {{ stateDistrictRepresentative }};
const stateDistrictStateRepresentative = {{ stateDistrictstateRepresentative }};
const stateSenator = {{ stateSenator }};
const zipStateDistrict = {{ zipStateDistrict }};

// Order defined in `representative-details' in update.lisp.
function full_name(legislator){ return legislator[0] }
function phone(legislator){ return legislator[1] }
function email(legislator){ return legislator[2] }
function contact(legislator){ return legislator[3] }

function populate_match(element, position, representatives){
  element.innerHTML = ""
  representatives.forEach(rep => {
    var phone_str = ""
    var email_str = ""
    var contact_str = ""
    if(phone(rep)){
      phone_str = "<br/><a href=\"tel:+1"+phone(rep)+"\">"+phone(rep)+"</a>"
    }
    if(email(rep)){
      email_str = "<br/><a href=\"mailto:"+email(rep)+"\">"+email(rep)+"</a>"
    }
    if(contact(rep)){
      contact_str = "<br/><a class=\"external\" href=\""+contact(rep)+"\">"+contact(rep)+"</a>"
    } else {
      // Only line break if no contact (contact is display:block; and creates vertical space).
      contact_str = "<br/>"
    }
    element.innerHTML += "Contact "+position+" <b>"+full_name(rep)+"</b>:"+
      phone_str+
      email_str+
      contact_str
  })
}

function zip_key_press(){
  var zip_element = document.getElementById("postal-code");
  var partial_zip = zip_element.value;

  if(partial_zip.length >= 5){
    var match = zipStateDistrict[partial_zip];
    console.log("MATCH:"+match)
    if(match){
      var stateDistrict = match[0]+match[1];
      console.log(stateDistrict)
      populate_match(document.getElementById("call-senator-by-zip"),
                     "Senator", stateSenator[match[0]])
      populate_match(document.getElementById("call-representative-by-zip"),
                     "Representative", stateDistrictRepresentative[stateDistrict])
      populate_match(document.getElementById("call-state-representative-by-zip"),
                     "State Representative", stateDistrictStateRepresentative[stateDistrict])

    } else {
      document.getElementById("call-representative-by-zip").innerHTML =
        "No representatives found for <b>"+partial_zip+"</b>.";
      document.getElementById("call-senator-by-zip").innerHTML = "";
      document.getElementById("call-state-representative-by-zip").innerHTML = "";
    }
  } else {
    document.getElementById("call-representative-by-zip").innerHTML = "";
    document.getElementById("call-senator-by-zip").innerHTML = "";
    document.getElementById("call-state-representative-by-zip").innerHTML = "";
  }
}
