//                                               -*- mode:javascript -*-

// TODO: Still missing some, e.g. 15232.
const stateDistrictRepresentative = {{ stateDistrictRepresentative }};
const stateDistrictStateRepresentative = {{ stateDistrictstateRepresentative }};
const stateSenator = {{ stateSenator }};
const zipStateDistrict = {{ zipStateDistrict }};

function populate_match(element, name, representatives){
  element.innerHTML = ""
  representatives.forEach(e => {
    element.innerHTML += "Call "+name+" <b>"+e[1]+"</b> at</br><a href=\"tel:+1"+e[0]+"\">"+e[0]+"</a>.</br>"
  })
}

function zip_key_press(){
  var zip_element = document.getElementById("postal-code");
  var partial_zip = zip_element.value;

  if(partial_zip.length >= 5){
    var match = zipStateDistrict[partial_zip];
    console.log("MATCH:"+match)
    if(match){
      var stateDistrict = match[0]+match[1];
      console.log(stateDistrict)
      populate_match(document.getElementById("call-senator-by-zip"),
                     "Senator", stateSenator[match[0]])
      populate_match(document.getElementById("call-representative-by-zip"),
                     "Representative", stateDistrictRepresentative[stateDistrict])
      populate_match(document.getElementById("call-state-representative-by-zip"),
                     "State Representative", stateDistrictStateRepresentative[stateDistrict])

    } else {
      document.getElementById("call-representative-by-zip").innerHTML = "No representatives found for <b>"+partial_zip+"</b>.";
      document.getElementById("call-senator-by-zip").innerHTML = "";
      document.getElementById("call-state-representative-by-zip").innerHTML = "";
    }
  } else {
    document.getElementById("call-representative-by-zip").innerHTML = "";
    document.getElementById("call-senator-by-zip").innerHTML = "";
    document.getElementById("call-state-representative-by-zip").innerHTML = "";
  }
}
