//                                               -*- mode:javascript -*-

// TODO: Still missing some, e.g. 15232.
const senator_zips = {{ senator_zips }};
const representative_zips = {{ representative_zips }};

function zip_key_press(){
  var zip_element = document.getElementById("postal-code");
  var partial_zip = zip_element.value;

  if(partial_zip.length >= 5){
    // Representative
    var call_by_zip = document.getElementById("call-representative-by-zip");
    if(representative_zips[partial_zip]){
      // TODO: Instead map over adding every one.
      var phone = representative_zips[partial_zip][0]
      var name = representative_zips[partial_zip][1]
      call_by_zip.innerHTML = "Call Representative <b>"+name+"</b> at</br><a href=\"tel:+1"+phone+"\">"+phone+"</a>."
    } else {
      call_by_zip.innerHTML = "No representative found for postal code <b>"+partial_zip+"</b>!";
    }
    // Senator
    var call_by_zip = document.getElementById("call-senator-by-zip");
    call_by_zip.innerHTML = ""
    senator_zips.filter(e => e[0] == partial_zip).forEach(e => {
      call_by_zip.innerHTML += "Call Senator <b>"+e[1][1]+"</b> at</br><a href=\"tel:+1"+e[1][0]+"\">"+e[1][0]+"</a>.</br>"
    })
    if(senator_zips[partial_zip]){
      // TODO: Instead map over adding every one.
      var phone = senator_zips[partial_zip][0]
      var name = senator_zips[partial_zip][1]
      
    } else {
      call_by_zip.innerHTML = "No senator found for postal code <b>"+partial_zip+"</b>!";
    }
  }
  if(partial_zip.length < 5){
    document.getElementById("call-representative-by-zip").innerHTML = "";
    document.getElementById("call-senator-by-zip").innerHTML = "";
  }
}
