//                                               -*- mode:javascript -*-
// const stateDistrictRepresentative = {{ stateDistrictRepresentative }};
// const stateDistrictStateRepresentative = {{ stateDistrictstateRepresentative }};
// const stateSenator = {{ stateSenator }};
// const zipStateDistrict = {{ zipStateDistrict }};

// Order defined in `representative-details' in update.lisp.
function full_name(legislator){ return legislator[0] }
function phone(legislator){ return legislator[1] }
function email(legislator){ return legislator[2] }
function contact(legislator){ return legislator[3] }

function write_emails(){
  let subject = document.getElementById("title").textContent;
  let body_dom = document.getElementById("content").cloneNode(true);
  // Drop blockquotes from body text.
  Array.from(body_dom.children).forEach(e => {
    if(e.tagName == "BLOCKQUOTE"){
      body_dom.removeChild(e)
    }
  })
  Array.from(body_dom.getElementsByTagName("A")).forEach(e => {
    e.text += " ("+e.href+")"
  })
  let body = body_dom.textContent;

  Array.from(document.getElementsByClassName("email-link")).forEach(link => {
    link.href += "?subject="+encodeURI(subject)+"&body="+encodeURI(
      "Representative "+link.id+",\n"+body+"\n\nVery Respectfully,\n")
  })
}

if(localStorage.getItem('zip')){
  const partial_zip = localStorage.getItem('zip');
  var match = zipStateDistrict[partial_zip];
  var stateDistrict = match[0]+match[1];
  console.log("MATCH:"+stateDistrict);
  element = document.getElementById("contact")

  stateSenator[match[0]].
    concat(stateDistrictRepresentative[stateDistrict]).
    concat(stateDistrictStateRepresentative[stateDistrict]).
    forEach(rep => {
      var phone_str = ""
      var email_str = ""
      var contact_str = ""
      if(phone(rep)){
        phone_str = "<a href=\"tel:+1"+phone(rep)+"\" title=\" Call: "+phone(rep)+"\"></a> "
      }
      if(email(rep)){
        email_str = "<a class=\"email-link\" id=\""+full_name(rep)+"\" href=\"mailto:"+email(rep)+"\" title=\" Email: "+email(rep)+"\"></a> "
      }
      if(contact(rep)){
        contact_str = "<a class=\"external\" href=\""+contact(rep)+"\" title=\" Contact form: "+contact(rep)+"\"></a> "
      }
      element.innerHTML += "<b>"+full_name(rep)+"</b> at: "+phone_str+email_str+contact_str+"</br>"
    })
}
